-webkit-text-size-adjust: 100%;
--tds-bezier: cubic-bezier(0.5,0,0,0.75);
--tds-size: 8px;
--tds-size--10x: 80px;
--tds-size--11x: 88px;
--tds-size--12x: 96px;
--tds-size--13x: 104px;
--tds-size--1x: 8px;
--tds-size--2x: 16px;
--tds-size--3x: 24px;
--tds-size--4x: 32px;
--tds-size--5x: 40px;
--tds-size--6x: 48px;
--tds-size--7x: 56px;
--tds-size--8x: 64px;
--tds-size--9x: 72px;
--tds-size--half: 4px;
--tds-color--black: #000;
--tds-color--blue10: #2e4994;
--tds-color--blue20: #3457b1;
--tds-color--blue30: #3e6ae1;
--tds-color--green: #12bb00;
--tds-color--grey10: #171a20;
--tds-color--grey15: #222;
--tds-color--grey20: #393c41;
--tds-color--grey25: #444;
--tds-color--grey30: #5c5e62;
--tds-color--grey35: #8e8e8e;
--tds-color--grey40: #a2a3a5;
--tds-color--grey45: #bbb;
--tds-color--grey50: #d0d1d2;
--tds-color--grey60: #e2e3e3;
--tds-color--grey65: #eee;
--tds-color--grey70: #f4f4f4;
--tds-color--red10: #b74134;
--tds-color--red20: #ed4e3b;
--tds-color--white: #fff;
--tds-color--yellow: #fbb01b;
--tds-font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
--tds-font-family--arabic: "Noto Sans Arabic";
--tds-font-family--chinese-hk: "PingFang HK","Microsoft YaHei";
--tds-font-family--chinese-simplified: "PingFang SC","Microsoft YaHei";
--tds-font-family--chinese-traditional: "PingFang TC","Microsoft YaHei";
--tds-font-family--hebrew: Arial;
--tds-font-family--japanese: "AXIS Font Japanese W55","Hiragino Sans";
--tds-font-family--korean: "FB New Gothic";
--tds-font-family--latin: "Gotham SSm";
--tds-font-family--monospace: "Fira Code",SFMono-Regular,Consolas,"Liberation Mono",Menlo,monospace;
--tds-font-weight--bold: 700;
--tds-font-weight--book: 400;
--tds-font-weight--light: 300;
--tds-font-weight--medium: 500;
--tds-font-weight--xlight: 200;
--tds-blur--button: 16px;
--tds-blur--large: 8px;
--tds-blur--small: 4px;
--tds-border-radius--circle: 100%;
--tds-border-radius--form-item: 20px;
--tds-border-style: solid;
--tds-border-width--large: 3px;
--tds-border-width--medium: 2px;
--tds-border-width--small: 1px;
--tds-box-shadow--large: 0 8px 16px 0 rgba(0,0,0,0.16);
--tds-box-shadow--large-reverse: 0 -8px 16px 0 rgba(0,0,0,0.16);
--tds-box-shadow--medium: 0 8px 16px 0 rgba(0,0,0,0.12);
--tds-box-shadow--off: 0 0 0 0 transparent;
--tds-box-shadow--small: 0 4px 8px 0 rgba(0,0,0,0.08);
--tds-font-size--10: 10px;
--tds-font-size--20: 12px;
--tds-font-size--30: 14px;
--tds-font-size--40: 17px;
--tds-font-size--50: 20px;
--tds-font-size--55: 23px;
--tds-font-size--60: 24px;
--tds-font-size--70: 28px;
--tds-font-size--75: 34px;
--tds-font-size--80: 40px;
--tds-height--pill: 40px;
--tds-line-height--10: 18px;
--tds-line-height--20: 20px;
--tds-line-height--30: 21px;
--tds-line-height--40: 23px;
--tds-line-height--50: 24px;
--tds-line-height--60: 28px;
--tds-line-height--70: 36px;
--tds-line-height--75: 45px;
--tds-line-height--80: 48px;
--tds-line-height--unitless: 1.414;
--tds-opacity--100: 1;
--tds-opacity--30: 0.3;
--tds-opacity--50: 0.5;
--tds-opacity--70: 0.7;
--tds-opacity--transparent: 0;
--tds-padding--card: 24px;
--tds-padding--card--dense: 16px;
--tds-border-width--hairline: 0.5px;
--tds-color--error: var(--tds-color--red10);
--tds-color--hairline: var(--tds-color--grey50);
--tds-color--inverse: var(--tds-color--white);
--tds-color--rgb-shade: 0,0,0;
--tds-color--rgb-shade--inverse: 255,255,255;
--tds-color--scrim--semitransparent: hsla(0,0%,100%,0.7);
--tds-color--secondary-accent: var(--tds-color--grey50);
--tds-color--secondary-highlight: var(--tds-color--black);
--tds-color--tertiary-highlight: var(--tds-color--grey65);
--tds-caption--color: var(--tds-color--grey30);
--tds-dialog--background-color: var(--tds-color--white);
--tds-pill--blur-color: rgba(0,0,0,0.05);
--tds-text--color: var(--tds-color--grey20);
--tds-text--color--light: var(--tds-color--grey30);
--tds-text--color--placeholder: var(--tds-color--grey40);
--tds-text--color--primary: var(--tds-color--blue30);
--tds-toggle--background-color: hsla(0,0%,58.8%,0.1);
--tds-toggle--fill-color: var(--tds-color--white);
--tds-text--contrast-high: var(--tds-color--grey10);
--tds-text--contrast-low: var(--tds-color--grey30);
--tds-text--contrast-medium: var(--tds-color--grey20);
--tds-code-bg-color: var(--tds-color--grey70);
--tds-code-border-color: var(--tds-color--grey60);
--tds-code-color: var(--tds-text--color);
--tds-outline--focus: 2px dashed var(--tds-color--grey35);
--tds-background-image--check: url('data:image/svg+xml;charset=utf-8,<svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path fill="hsl(218, 7%, 24%)" d="M6.592 11.58a.748.748 0 01-.53-.22L3.22 8.517a.75.75 0 111.06-1.061l2.312 2.312L11.72 4.64a.75.75 0 111.06 1.06l-5.658 5.66a.748.748 0 01-.53.22z"/></svg>');
--tds-background-image--minus: url('data:image/svg+xml;charset=utf-8,<svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path fill="hsl(218, 7%, 24%)" d="M13 8a.75.75 0 01-.75.75h-8.5a.75.75 0 010-1.5h8.5A.75.75 0 0113 8z"/></svg>');
--tds-banner--padding: var(--tds-size--2x);
--tds-btn--font-size: var(--tds-font-size--20);
--tds-icon--bg: transparent;
--tds-icon--size: 24px;
--tds-gutter: var(--tds-size--3x);
--tds-gutter--half: calc(var(--tds-size--3x)/2);
--tds-gutter--negative: calc(var(--tds-size--3x)*-1);
--tds-gutter--half_negative: calc(var(--tds-gutter--negative)/2);
--tds-shell-footer-height: 52px;
--tds-modal--height: auto;
--tds-modal--width: 772px;
--tds-modal-backdrop--rgb: 0,0,0;
--tds-site-header--height: 54px;
--tds-nav-controls-height: 80px;
--tds-site-nav--flyout-width: 312px;
--tds-site-nav--flyout-height: 0;
--tds-table--vertical-align: middle;
--tds-table-background-color: transparent;
--tds-table-border_color: var(--tds-color--grey50);
--tds-table-border_spacing: 0;
--tds-table-border_width: 1px;
--tds-table-caption-background-color: transparent;
--tds-table-caption-top: 0;
--tds-table-header-font_size: var(--tds-font-size--30);
--tds-table-padding--horizontal: var(--tds-size--2x);
--tds-table-padding--vertical: var(--tds-size--2x);
--tds-heading--font-weight: 500;
--tds-option-checkbox--left: 20px;
--tds-option-checkbox--left--checkmark: 21px;
--tds-option-checkbox--right: auto;
--tds-option-checkbox--right--checkmark: auto;
--tds-option_group-transform: calc(var(--tds-size--3x)*-1);
--tds-plus-icon--left: 0;
--tds-plus-icon--right: auto;
--tds-animate-transition-duration--medium: 600ms;
--tds-animate-transition-duration--short: 500ms;
--tds-animate-transition-function--base: linear;
--tds-animate-transition-function--mktg: cubic-bezier(0.165,0.84,0.44,1);
--tds-animate-transition-property: opacity;
--tds-animate-transition_duration--long: 1500ms;
--tds--fade-in: tds--fade-in 1s ease;
--tds--pulsing: tds--pulsing 1.5s infinite ease-in-out;
--tds-font-family--combined: var(--tds-font-family--latin),var(--tds-font-family)!important;
--tds-base-text-color: var(--tds-color--grey30);
--tds-base-line_height: var(--tds-line-height--30);
--tds-base-font_size: var(--tds-font-size--30);
--tds-base-font_family: var(--tds-font-combined);
--widget-height: calc(100vh - var(--tds-shell-header-height));
--bezier: cubic-bezier(0.5,0,0,0.75);
--tds-form-item-margin_bottom: 16px;
--tds-transition--box-shadow: box-shadow 0.33s ease;
--tds-transition--background-color: background-color 0.33s ease;
--tds-new-icon--bg: transparent;
--tds-new-icon--size: 24px;
--tds--rotating: tds--rotating 1.5s infinite linear;
--tds-heading--color: var(--tds-color--white);
--tds-color--text-normal: var(--tds-color--grey45);
--tds-letter-spacing-cyber: .145em;
--carousel-tab-height: var(--tds-size--3x);
--carousel-button-far-edge: calc(50vw + var(--carousel-panel-width)/2 + var(--carousel-panel-margin)*2);
--carousel-button-near-edge: -8px;
--carousel-flex-max-width: none;
--carousel-panel-width: calc(400px + 12vw - var(--tds-size--6x));
--carousel-panel-height: calc(80vh - var(--tds-size--6x) - var(--carousel-tab-height));
--carousel-panel-margin: calc(var(--tds-size) + 2.5vw);
-webkit-font-smoothing: antialiased;
--tds-shell-content-height: calc(100vh - var(--tds-shell-header-height) - var(--tds-shell-footer-height));
--tds-shell-header-height: 52px;
--tds-glow--bright: drop-shadow(0 0 var(--tds-size--2x) rgba(var(--tds-color--rgb-shade),0.5));
--tds-glow--medium: drop-shadow(0 0 var(--tds-size--1x) rgba(var(--tds-color--rgb-shade),0.33));
--tds-glow--off: drop-shadow(0 0 0 rgba(var(--tds-color--rgb-shade),0.33));
--tds-notch: polygon(0 0,100% 0,100% calc(100% - 10px),calc(100% - 10px) 100%,0 100%);
--tds-notch--outline: polygon(0 0,100% 0,100% calc(100% - 10px),calc(100% - 10px) 100%,0 100%,0 4px,4px 4px,4px calc(100% - 4px),calc(100% - 12px) calc(100% - 4px),calc(100% - 4px) calc(100% - 12px),calc(100% - 4px) 4px,0 4px);
--tds-notch--outline-thin: polygon(0 0,100% 0,100% calc(100% - 10px),calc(100% - 10px) 100%,0 100%,0 1.5px,1.5px 1.5px,1.5px calc(100% - 1.5px),calc(100% - 11.5px) calc(100% - 1.5px),calc(100% - 1.5px) calc(100% - 11.5px),calc(100% - 1.5px) 1.5px,0 1.5px);
--tds-border-radius: 0;
--tds-border-radius--card: 0;
--tds-border-radius--card--dense: 0;
--tds-border-radius--pill: 0;
--tds-padding-block--pill: 12px;
--tds-padding-inline--pill: 16px;
--transition-off: color 0.5s ease,background 0.5s ease,border-color 0.5s ease,opacity 1s ease,transform 1s var(--tds-bezier) 0s;
--transition-on: color 0.5s ease,background 0.5s ease,border-color 0.5s ease,opacity 1s ease,transform 1s var(--tds-bezier) 0.48s;
--tds-color--primary: var(--tds-color--black);
--tds-color--primary-highlight: var(--tds-color--black);
--tds-color--secondary: var(--tds-color--black);
--tds-color--tertiary: transparent;
--tds-modal--full-height: calc(100vh - var(--tds-size--8x));
--tds-modal--full-width: calc(100vw - var(--tds-size--8x));
--tds-heading--text-transform: uppercase;
--tds-fading-line: linear-gradient(90deg,rgba(var(--tds-color--rgb-shade),1),rgba(var(--tds-color--rgb-shade),1) 50%,rgba(var(--tds-color--rgb-shade),0.1));
--tds-fading-line--glow: -2px 0 6px 4px rgba(var(--tds-color--rgb-shade),0.15);
--tds-plus-size: 10px;
font-family: var(--tds-font-family--combined);
text-transform: var(--tds-heading--text-transform);
letter-spacing: var(--tds-heading--letter-spacing);
font-size: var(--tds-font-size--60,24px);
line-height: var(--tds-line-height--60,28px);
--tds-heading--letter-spacing: 0.145em;
font-weight: var(--tds-font-weight--bold);
text-shadow: 0 0 var(--tds-size--1x) rgba(var(--tds-color--rgb-shade),.5);
color: var(--tds-heading--color);
box-sizing: border-box;
scroll-behavior: smooth;