body{

    background-color:#101113;;
    color: aliceblue;
}
header{
	padding: 20px 0 0 0;
	background: #1d2124;
	text-align: center;
}

.header2{
    padding: 20px 0 0 0;
	background: #1d2124;
	text-align: center;
}